<div class="nav-left-sidebar sidebar-dark">
  <div class="menu-list">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="d-xl-none d-lg-none" href="/">Dashboard</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-column">
          <li class="nav-divider">
            Mục lục
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/"
              ><i class="fa fa-fw fa-user-circle"></i>Trang chủ
              <span class="badge badge-success">6</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quanlyloaiphong"
              ><i class="fa fa-fw fa-rocket"></i>Quản lý loại phòng</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quanlyphong"
              ><i class="fas fa-fw fa-chart-pie"></i>Quản lý phòng</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quanlythucan"
              ><i class="fab fa-fw fa-wpforms"></i>Quản lý thức ăn</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quanlynhanvien"
              ><i class="fas fa-fw fa-table"></i>Quản lý nhân viên</a
            >
          </li>
          <li class="nav-divider">
            Tính năng
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/capnhatthongtin"
              ><i class="fas fa-fw fa-file"></i> Cập nhật thông tin
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/doimatkhau"
              ><i class="fas fa-fw fa-inbox"></i>Đổi mật khẩu
              <span class="badge badge-secondary">New</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout"
              ><i class="fas fa-fw fa-columns"></i>Đăng xuất</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
