<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Sign up</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link href="/assets/vendor/fonts/circular-std/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/libs/css/style.css" />
    <link
      rel="stylesheet"
      href="/assets/vendor/fonts/fontawesome/css/fontawesome-all.css"
    />
    <style>
      html,
      body {
        height: 100%;
      }

      body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  <!-- ============================================================== -->
  <!-- signup form  -->
  <!-- ============================================================== -->

  <body>
    <!-- ============================================================== -->
    <!-- signup form  -->
    <!-- ============================================================== -->
    <% if (error != '') { %>
      <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>
              <%= error %>
          </strong>
      </div>
      <% } %>
    <form method="post" class="splash-container">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-1">Registrations Form</h3>
        </div>
        <div class="card-body">
          <div class="form-group">
            <input
              class="form-control form-control-lg"
              type="email"
              name="email"
              required
              placeholder="E-mail"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control form-control-lg"
              type="text"
              required
              placeholder="Username"
              autocomplete="off"
              name="username"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control form-control-lg"
              id="pass1"
              type="password"
              required
              placeholder="Password"
              name="password"
            />
          </div>
          <div class="form-group pt-2">
            <button class="btn btn-block btn-primary" type="submit">
              Register My Account
            </button>
          </div>
        </div>
        <div class="card-footer bg-white">
          <p>
            Already member?
            <a href="/auth/signin" class="text-secondary">Login Here.</a>
          </p>
        </div>
      </div>
    </form>
  </body>
</html>
